<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>jenkinswatcher</title>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="../css/bootstrap.css">
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
      <link rel="stylesheet" href="../css/bootstrap-slider.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"><img src="../../assets/images/headshot.png" style="width: 30px"> jenkinswatcher</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="btn-toolbar mt-2 mt-md-0" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <span data-toggle="modal" data-target="#addJobModal">
              <button type="button" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="bottom" title="Watch new Job"><i class="fa fa-plus fa-fw"></i></button>
            </span>
            <span data-toggle="modal" data-target="#settingsModal">
              <button type="button" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="bottom" title="View Settings"><i class="fa fa-wrench fa-fw"></i></button>
            </span>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button id="btnUpdateAll" class="btn btn-success btn-sm"><i class="fa fa-play"></i> Update</button>
          </div>
        </div>
      </div>
    </nav>
    <!-- content view -->
    <main role="main" class="container-fluid">
      <span id="alert-area"></span>
      <!-- filter view -->
      <!--<div class="row mb-3">
        <div class="col-md-12">
          <div class="card card-sm">
            <div class="card-body">
              <form class="form-inline">
                <div class="input-group mr-2">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Status</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>All</option>
                    <option value="1">Success</option>
                    <option value="2">Error</option>
                    <option value="3">Unstable</option>
                    <option value="3">In Progress</option>
                  </select>
                </div>
                <div class="input-group mr-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Job Type</span>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>All</option>
                    <option value="1">Success</option>
                    <option value="2">Error</option>
                    <option value="3">Unstable</option>
                    <option value="3">In Progress</option>
                  </select>
                </div>
                <div class="input-group mr-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Job Owner</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      <!-- table view -->
      <div class="row mx-3">
        <div class="col-md-12">
          <table id="jobs" class="table table-sm table-hover">
            <thead>
              <tr class="row">
                <th scope="col" class="col-2">Created In</th>
                <th scope="col" class="col-3">Type</th>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-1">Owner</th>
                <th scope="col" class="col-1">Status</th>
                <th scope="col" class="col-2">Progress</th>
                <th scope="col" class="col-2">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modals -->
      <div>
        <!-- Settings Modal -->
        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <form class="form">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="inputPassword">Jenkins Base URL</label>
                        <input type="url" class="form-control" id="inputJenkinsURL" placeholder="Add URL without the protocol (http(s)://)">
                      </div>
                    </div>
                    <!-- <hr>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Update Interval</label>
                        <input id="ex6" type="text" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="3"/>
                        <span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputState">Clear Done Jobs</label>
                        <select id="inputState" class="form-control">
                          <option selected>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="inputState">Save Data</label>
                        <select id="inputState" class="form-control">
                          <option selected>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                  <!-- <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                  <button type="button" id="saveSettings" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Add New Job Modal -->
        <div class="modal fade" id="addJobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="jobURL">Jenkins Job URL <small class="text-muted">For multiple URLs, separate them with a semicolon.</small></label>
                      <textarea class="form-control" id="jobURL" rows="3" placeholder="http://..."></textarea>
                      <!-- <input type="url" class="form-control" id="jobURL" placeholder="http://..."> -->
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" id="addJob" data-dismiss="modal" class="btn btn-primary">Watch it!</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Show Job Detailed Info -->
        <div class="modal fade" id="jobInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="jobInfoTitle">test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <code><pre style="color: inherit"></pre></code>
                    </div>
                  </div>
                </form>
              </div>
              <!-- <div class="modal-footer">
                <button type="button" id="addJob" data-dismiss="modal" class="btn btn-primary">Add</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- footer view -->
    <footer class="footer">
      <div class="container">
        <!-- <span class="text-muted">Next full update in <span id="nextUdpateTimer"></span></span> -->
        <div class="float-right">
          <a href="https://www.github.com/thiagocardoso1988/jenkinswatcher" class="btn btn-outline-dark btn-sm" data-toggle="tooltip" data-placement="bottom" title="Open in Github">
            <i class="fab fa-github fa-fw"></i> v0.1.0
          </a>
        </div>
      </div>
    </footer>
    <!-- scripts -->
    <script type="text/javascript" src="../js/jobs.js"></script>
    <script type="text/javascript" src="../js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/utils.js"></script>
    <script type="text/javascript">
      // $(document).ready(function() {
      //   $("body").tooltip({
      //     selector: '[data-toggle=tooltip]',
      //     trigger : 'hover'
      //   })
      // })
      // $("#ex6").slider();
      // $("#ex6").on("slide", function(slideEvt) {
      //   $("#ex6SliderVal").text(slideEvt.value);
      // });
    </script>
  </body>
</html>
